body {
  margin: 0;
  font-family: 'Inria Serif', serif;
  -webkit-font-smoothing: antialiased;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 1300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 25px;
}

.col-6 {
  padding-bottom: 25px;
  padding-top: 10px;
  background-origin: padding-box;
}

h1 {
  color: black;
  align-content: center;
  padding: 10px;
}

.button {
  float: right;
  width: 60px;
}

.tab-content {
 font-size: 30px;

}

.input-group {
  width: 50%;
  margin-left: 50px;
  padding-top: 30px;
}

#signinCardbody {
  width: 38%;
  

}

#registryInput {
  width: 70%;
}

#signInForm {
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 25px;
}

.btn {
  margin-left: auto;
  margin-right: auto;
}

.divider {
  width:15px;
  height:auto;
  display:inline-block;
}